<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>iMovie Library</string>
	<key>libraryID</key>
	<string>4F1C5C32-D5BC-49B9-9478-1E2B54C21AD1</string>
</dict>
</plist>
